@import "variables";

.nav-wrapper {
  .nav-bar {
    height: 50px;
    .logo {
      font-size: 20px;
      a {
        font-family: $hero-font;
        padding-left: 32px;
        color: #f8f9fa;
      }
    }
  }
}
